.imgProductos{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.colorBoton{
    color: white;
    background-color: #83c75b;
}

.colorBoton:hover{
    background-color: green;
    color: white;
}

body{
    background-color: rgb(241, 238, 35);
}